<div class="content-container" *ngIf="realmStatusResult">
  <h1>Realm Status</h1>
  <div class="locale-button-container">
    <button class="locale-button" (click)="setCurrentRealm('en_GB')">GB</button>
    <button class="locale-button" (click)="setCurrentRealm('de_DE')">DE</button>
    <button class="locale-button" (click)="setCurrentRealm('es_ES')">ES</button>
    <button class="locale-button" (click)="setCurrentRealm('fr_FR')">FR</button>
    <button class="locale-button" (click)="setCurrentRealm('it_IT')">IT</button>
    <button class="locale-button" (click)="setCurrentRealm('ru_RU')">RU</button>
  </div>
  <div class="realm-locale-container">
    <div class="realm-status-container">
      <table>
        <thead>Realm Status</thead>
        <tbody>
          <tr>
            <td>Realm</td>
            <td>Status</td>
            <td>Pop</td>
            <td>Queue</td>
          </tr>
          <tr *ngFor="let realm of realmStatusResult | realmFilterPipe:currentRealm">
            <td>{{realm.name}}</td>
            <td [ngSwitch]="realm.status">
              <p class="realm-status-up" *ngSwitchCase="true">UP</p>
              <p class="realm-status-down" *ngSwitchCase="false">DOWN</p>
            </td>
            <td [ngSwitch]="realm.population">
              <p class="realm-status-low" *ngSwitchCase="'low'">LOW</p>
              <p class="realm-status-medium" *ngSwitchCase="'medium'">MEDIUM</p>
              <p class="realm-status-high" *ngSwitchCase="'high'">HIGH</p>
            </td>
            <td [ngSwitch]="realm.queue">
              <p class="realm-queue-true" *ngSwitchCase="false">YES</p>
              <p class="realm-queue-true" *ngSwitchCase="true">NO</p>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
