/* GENERAL STYLES */

h1 {
  width: 100%;
}

hr {
  border: 2px solid #50a033;
  display: block;
  margin: 10px 0 20px 0;
  width: 10%;
}

.content-container {
  color: white;
  display: flex;
  flex-wrap: wrap;
  padding: 10px;
  width: 100%;
}

.output-container {
  width: 100%;
  color: white;
}

/* API CALLING TOOLS */

.api-buttons-container {
  display: flex;
  flex-wrap: wrap;
  margin: 10px 0;
  width: 100%;
}

.api-button {
  background: #57b037;
  border: 2px solid #50a033;
  color: black;
  font-size: 1.2em;
  font-weight: 700;
  margin: 0px 10px 10px 0;
  padding: 5px 10px;
}

.api-input {
  background: none;
  border: 2px solid #50a033;
  color: white;
  font-size: 1.2em;
  margin: 0px 10px 10px -12px;
  padding: 5px 10px;
  width: 120px;
}
