.content-container {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.left-container {
  width: 100%;
  float: left;
}

.right-container {
  width: 100%;
  float: left;
}

h1 {
  color: white;
}

@media (min-width: 768px) {
  .left-container {
    width: 65%;
  }

  .right-container {
    width: 35%;
  }
}
