/* GENERAL STYLES */

h1 {
  width: 100%;
}

hr {
  border: 2px solid #50a033;
  margin: 10px 0;
  width: 10%;
}

.content-container {
  color: white;
  display: flex;
  flex-wrap: wrap;
  padding: 10px;
  width: 100%;
}

/* GENERAL STYLES END */

/* API CALLING TOOLS */

.api-buttons-container {
  display: flex;
  margin: 10px 0;
  width: 100%;
}

.api-button-group {
  padding-right: 10px;
  width: auto;
}

.api-button,
.api-button:disabled {
  background: #57b037;
  color: black;
  font-size: 1.2em;
  padding: 5px 10px;
  border: 2px solid #50a033;
}

.api-input {
  background: none;
  border: 2px solid #50a033;
  color: white;
  font-size: 1.2em;
  padding: 5px 10px;
  width: 100px;
}

/* API CALLING TOOLS END */

/* BOSSES OUTPUT */

.bosses-container {

}

.bosses-item {
  margin: 10px 0;
}

.boss-name,
.boss-level,
.boss-health,
.boss-description {
  margin: 5px 0;
}

/* BOSSES OUTPUT END */

/* ZONES OUTPUT */

.zones-container {

}

.zones-item {
  margin: 10px 0;
}

.zone-name {

}

.zone-description {
  margin: 10px 0;
}

.zone-bosses-title {
  margin: 5px 0 10px;
}

.zone-bosses {
  border: 2px solid #999;
  padding: 5px;
}

.zone-bosses-item {

}

.zone-boss-name {
  font-size: 1.3em;
}

.zone-boss-description {
  margin-bottom: 30px;
}

.zone-seperator {
  margin: 20px 0 15px;
}

/* ZONES OUTPUT END */
